@model RateTheRest.Models.Restaurant

@{
    ViewData["Title"] = "Create";
    var chefs = (List<Chef>)ViewData["Chefs"];
}

<h1>Create</h1>
<h4>Restaurant</h4>
<script defer src="~/js/Restaurants.js"></script>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="None" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <table class="table">
                    <tr>
                        <td>
                            <label asp-for="Location.Country" class="control-label"></label>
                            <input asp-for="Location.Country" class="form-control" />
                            <span asp-validation-for="Location.Country" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="Location.City" class="control-label"></label>
                            <input asp-for="Location.City" class="form-control" />
                            <span asp-validation-for="Location.City" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="Location.Street" class="control-label"></label>
                            <input asp-for="Location.Street" class="form-control" />
                            <span asp-validation-for="Location.Street" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="Location.Number" class="control-label"></label>
                            <input asp-for="Location.Number" class="form-control" />
                            <span asp-validation-for="Location.Number" class="text-danger"></span>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="form-group">
                <label asp-for="OpeningHours" class="control-label"></label>
                <table id="openingHours" class="table">
                    @foreach (string day in GlobalWeek.WEEK)
                    {
                        <tr>
                            <td>
                                <div class="openingHours-day">
                                    <input name="days" type="checkbox" class="form-check-input" value="@Html.DisplayName(day)" />@Html.DisplayName(day):
                                    <input name="from" type="time" /> - <input name="to" type="time" />
                                    <span hidden class="openingHoursErrors text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <select class="MultipleCheckboxes" name="tags" multiple>
                    @foreach (string t in GlobalTags.TAGS)
                    {
                        <option value="@t">@t</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Chefs" class="control-label"></label>
                <select class="MultipleCheckboxes" name="chefs" multiple>
                    @foreach (Chef c in chefs)
                    {
                        <option value="@c.ChefID">@c.FirstName @c.LastName</option>

                    }
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input name="logo" type="file" class="form-control-file" />
            </div>
            <div class="form-group">
                <label asp-for="Photos" class="control-label"></label>
                <input type="file" multiple name="photos" class="form-control-file" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
