@model IEnumerable<RateTheRest.Models.Chef>

@{
    ViewData["Title"] = "Index";
    var filtersPlaceHolders = (string[])ViewData["FiltersPlaceHolders"];
}

<h1>Index</h1>

<!--Searching table-->
<form action="/Chefs" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Filter</th>
                <th>By Name</th>
                <th>By Restaurant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td>
                    <p>
                        <input hidden name="searchBy" type="text" value="Name">
                        <input name="searchString" type="text" value="" placeholder="@filtersPlaceHolders[0]">
                    </p>
                </td>
                <td>
                    <p>
                        <input hidden name="searchBy" type="text" value="Restaurant">
                        <input name="searchString" type="text" value="" placeholder="@filtersPlaceHolders[1]">
                    </p>
                </td>
                <td>
                    <input type="submit" value="Filter" />
                </td>
                <td>
                    <a asp-action="Index">Clear Filters</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Portrait)
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurants)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.Portrait != null)
                    {
                        <a href="/Restaurants/Details/@item.ChefID">
                            <img src="@Url.Content(item.Portrait.Path)" alt="Logo" class="img-thumbnail" width="100" height="100">
                        </a>
                    }
                </td>

                <td>
                    <a href="/Restaurants/Details/@item.ChefID">
                        @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                    </a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.AvgRate)
                </td>

                <td>
                    @if (item.Restaurants != null || item.Restaurants.Count > 0)
                    {
                    <ul>
                        @foreach (Restaurant r in item.Restaurants)
                        {
                            <li><a href="/Restaurants/Details/@r.RestaurantID">@r.Name</a></li>
                        }
                    </ul>
                    }
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChefID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ChefID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
