@{
    ViewData["Title"] = "Home Page";
    var top5RatedRestaurants = (Restaurant[])ViewData["Top5RatedRestaurants"];
    var restaurantsAndReviews = (Restaurant[])ViewData["RestaurantsAndReviews"];
    var usersByNumOfReviews = (List<Tuple<string, int>>)ViewData["UsersByNumOfReviews"];
    int rank = 1;
}

<script defer type="module" src="~/js/HomePage.js"></script>
<link rel="stylesheet" href="~/css/HomePage.css">

<div class="container">
    <div class="row mt-4 justify-content-center">
        <h1>Welcome To RateTheRest</h1>
    </div>

    <!--Top 5 Rated Restaurants start-->
    <div class="row mt-4 justify-content-center">
        <h2>Top 5 Rated Restaurants</h2>
    </div>
    <div class="row mt-4 justify-content-center card-deck">
        <div class="col-4 card border-secondary">
            <img src="@Url.Content(top5RatedRestaurants[0].Logo.Path)" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">@top5RatedRestaurants[0].Name</h3>
                <p class="card-text">ADD DETAILS HERE</p>
                <a href="@Url.Action("Details", "Restaurants", new { id = top5RatedRestaurants[0].RestaurantID })" class="btn btn-outline-dark">View More</a>
            </div>
        </div>

        <div class="col-4 card border-secondary">
            <img src="@Url.Content(top5RatedRestaurants[1].Logo.Path)" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">@top5RatedRestaurants[1].Name</h3>
                <p class="card-text">ADD DETAILS HERE</p>
                <a href="@Url.Action("Details", "Restaurants", new { id = top5RatedRestaurants[1].RestaurantID })" class="btn btn-outline-dark">View More</a>
            </div>
        </div>
        <div class="col-4 card border-secondary">
            <img src="@Url.Content(top5RatedRestaurants[2].Logo.Path)" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">@top5RatedRestaurants[2].Name</h3>
                <p class="card-text">ADD DETAILS HERE</p>
                <a href="@Url.Action("Details", "Restaurants", new { id = top5RatedRestaurants[2].RestaurantID })" class="btn btn-outline-dark">View More</a>
            </div>
        </div>
    </div>
    <div class="row mt-4 justify-content-center card-deck">
        <div class="col-4 card border-secondary">
            <img src="@Url.Content(top5RatedRestaurants[3].Logo.Path)" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">@top5RatedRestaurants[3].Name</h3>
                <p class="card-text">ADD DETAILS HERE</p>
                <a href="@Url.Action("Details", "Restaurants", new { id = top5RatedRestaurants[3].RestaurantID })" class="btn btn-outline-dark">View More</a>
            </div>
        </div>
        <div class="col-4 card border-secondary">
            <img src="@Url.Content(top5RatedRestaurants[4].Logo.Path)" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title">@top5RatedRestaurants[4].Name</h3>
                <p class="card-text">ADD DETAILS HERE</p>
                <a href="@Url.Action("Details", "Restaurants", new { id = top5RatedRestaurants[4].RestaurantID })" class="btn btn-outline-dark">View More</a>
            </div>
        </div>
    </div>
    <!--Top 5 Rated Restaurants end-->
    <!--Statistics Graphs starts-->
    @*restaurant data for js statistics*@
    @foreach (Restaurant r in restaurantsAndReviews)
    {
        <div hidden class="restaurants" name="@r.Name" numOfReviews="@r.Reviews.Count" ratingScore="@r.Rating.Score"></div>
    }
    <div class="row mt-4 justify-content-center">
        <!--Restaurants by number of reviews-->
        <div class="col-6">
            <h3>Restaurants By Reviews</h3>
            <div id="pieChartRestaurantsByNumberOfReviews"></div>
        </div>
        <!--Restaurants by rating score-->
        <div class="col-6">
            <h3>Restaurants By Rating</h3>
            <div id="barChartRestaurantsByRatingScore"></div>
        </div>
    </div>
    <!--Statistics Graphs ends-->
    <!--Users by number of reviews-->
    <div class="row mt-4 justify-content-center">
        <div class="col-6">
            <h3>Our Top Raters</h3>
            <div id="leaderboards">
                <ul class="toplist">
                    @foreach (var user in usersByNumOfReviews)
                    {
                        <li data-rank="@rank">
                            <div class="thumb">
                                <span class="name">@user.Item1</span>
                                <span class="stat"><b>@user.Item2</b>Reviews</span>
                            </div>
                        </li>
                        rank++;
                    }
                </ul>
            </div>
        </div>
    </div>
</div>